preflight-state-icon {
    position: absolute;
    top: 0;
    left: 0;

    .state-icon {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        border-radius: 50%;
    }

    .umb-icon {
        font-size: 22px;
        color: white;
    }

    + .preflight-result {
        padding-left: 75px;
    }
}
