$red: #fe6561;
$orange: #f9b945;
$green: #35c786;
$purple: #413659;
$grey: #f3f3f5;

$umbGreen: #00aea2;

.preflight {
    position: relative;

    &::before {
        content: '\e0c7';
        font-family: icomoon;
        font-size: 55vw;
        position: absolute;
        left: 0;
        top: 120%;
        opacity: .025;
    }

    > div {
        position:relative;
    }

    &-settings {
        .umb-control-group {
            position: relative;
        }
    }

    .flex {
        display: flex;
        position: relative;
    }

    .mt-30 {
        margin-top: 30px;

        &:first-child {
            margin-top:0; 
        }
    }

    .alert {
        *:last-child {
            margin-bottom: 0;
        }
    }

    h5 {
        margin-top: 0;
    }

    .state-icon {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 15px;
        width: 42px;
        height: 42px;
        min-width: 42px;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;

        .icon {
            font-size: 22px;
        }

        + .preflight-result {
            padding-left: 77px;
        }
    }

    .count-badge {
        color: #fff;
        background-color: $red;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 10px;
        font-weight: bold;
        padding: 2px;
        line-height: 16px;
        position: absolute;
        text-align: center;
        min-width: 16px;
        transform: translate(-110%, -60%);

        &.pass {
            background-color:$green;
        }
    }

    .broken-link-type {
        color: $orange;

        &.unsafe {
            color: $red;
        }
    }

    .title {
        font-size: 30px;
        color: #363636;
        line-height: 1.3em;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .intro-text {
        font-size: 18px;
        color: #666666;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6em;
    }

    .badge-list {
        margin: 0 -5px -5px;
        display: flex;
        flex-wrap: wrap;

        .umb-badge {
            margin: 0 5px 5px;

            &[role=button] {
                cursor:pointer;
            }
        }
    }

    &-plugin-wrapper {
        width: 100%;
    }

    &-result {
        min-height:62px;
    }

    &-cards {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 0 -10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 6px;
        background: rgba($grey, 0.75);
        margin: 0 10px;

        &-score {
            font-size: 36px;
            line-height: 1;
            margin-bottom: 10px;
        }
    }

    .disabled {
        background: rgba($grey, 0.75);

        &-color, .icon {
            color: #68676b;
        }

        &-bg {
            color: #68676b;
            background: $grey;
        }
    }

    .fail {
        background: rgba($red, 0.1);

        &-color, .icon {
            color: $red;
        }

        &-bg {
            color: #fff;
            background: $red;
        }
    }

    .pass {
        background: rgba($green, 0.1);

        &-color, .icon {
            color: $green;
        }

        &-bg {
            color: #fff;
            background: $green;
        }
    }

    .umb-expansion-panel__header {
        position:relative;
    }
}
