[data-element="sub-view-preflight"] .badge {
  transition: background-color ease-in-out .5s; }
  [data-element="sub-view-preflight"] .badge.-type-success {
    background-color: #35c786; }
    [data-element="sub-view-preflight"] .badge.-type-success::before {
      transform: translateY(-2px);
      content: '\e165'; }

.preflight > div {
  position: relative; }

.preflight-settings {
  overflow: hidden; }
  .preflight-settings .umb-control-group {
    position: relative; }

.preflight-overlay, .preflight .umb-overlay-header {
  text-align: left; }

.preflight .flex {
  display: flex;
  position: relative; }

.preflight .mt-30 {
  margin-top: 30px; }
  .preflight .mt-30:first-child {
    margin-top: 0; }

.preflight h5 {
  margin-top: 0; }

.preflight preflight-state-icon {
  position: absolute;
  top: 0;
  left: 0; }
  .preflight preflight-state-icon .state-icon {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    border-radius: 50%; }
  .preflight preflight-state-icon .icon {
    font-size: 22px;
    color: #fff; }
  .preflight preflight-state-icon + .preflight-result {
    padding-left: 77px; }

.preflight .count-badge {
  color: #fff;
  background-color: #d42054;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
  padding: 2px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  min-width: 16px;
  transform: translate(-110%, -60%); }
  .preflight .count-badge.pass {
    background-color: #35c786; }
    .preflight .count-badge.pass ins::before {
      content: '\e165'; }
  .preflight .count-badge.pending {
    background-color: #f9b945; }
    .preflight .count-badge.pending ins::before {
      content: ''; }

.preflight .broken-link-type {
  color: #f9b945; }
  .preflight .broken-link-type.unsafe {
    color: #d42054; }

.preflight-alert {
  background: #1b264f;
  padding-right: 14px; }
  .preflight-alert h4.intro-text {
    color: #fff; }

.preflight .title {
  font-size: 30px;
  color: #363636;
  line-height: 1.3em;
  text-align: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-weight: bold; }

.preflight .intro-text {
  font-size: 18px;
  color: #666666;
  text-align: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em; }

.preflight .badge-list {
  margin: 0 -5px -5px;
  display: flex;
  flex-wrap: wrap; }
  .preflight .badge-list .umb-badge {
    margin: 0 5px 5px; }
    .preflight .badge-list .umb-badge[role=button] {
      cursor: pointer; }

.preflight-plugin-wrapper {
  width: 100%; }

.preflight-cards {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  margin: 0 -10px; }

.preflight .card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 6px;
  border-width: 2px;
  border-style: solid;
  background: rgba(243, 243, 245, 0.75) !important;
  margin: 0 10px; }
  .preflight .card.pass {
    border-color: #35c786; }
  .preflight .card.fail {
    border-color: #d42054; }
  .preflight .card-score {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 10px; }

.preflight .disabled {
  background: #f3f3f5; }
  .preflight .disabled-color {
    color: #f3f3f5; }

.preflight .fail {
  background: #d42054; }
  .preflight .fail-color {
    color: #d42054; }

.preflight .pass {
  background: #35c786; }
  .preflight .pass-color {
    color: #35c786; }

.preflight .umb-expansion-panel__header {
  position: relative; }
  .preflight .umb-expansion-panel__header div span {
    font-weight: 400; }

.preflight .btn-help {
  background: 0;
  font-size: 20px;
  position: absolute;
  right: 0; }

.preflight .linkhealth-result-table th {
  text-align: left;
  padding: 5px 10px;
  background: rgba(243, 243, 245, 0.75); }

.preflight .linkhealth-result-table td {
  padding: 5px 10px; }
