.preflight-progress-circle {
    margin: 15px auto 30px;

    .umb-progress-circle__highlight {
        transition: stroke-dasharray ease-in-out 500ms;
    }

    .umb-progress-circle__percentage {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 10%;

        small {
            font-size: 12px;
        }
    }
}
