<div ng-controller="preflight.dashboard.controller as vm" class="preflight preflight-settings">

    <umb-box>
        <umb-box-content>
            <h3 class="bold">Preflight settings</h3>
            <div ng-bind-html="vm.content"></div>
        </umb-box-content>
    </umb-box>
    
    <div class="form-horizontal">
        <div class="umb-expansion-panel" ng-repeat="tab in vm.tabs">
            <div class="umb-expansion-panel__header" ng-click="tab.open = !tab.open">
                <div ng-bind="tab.label"></div>
                <ins class="umb-expansion-panel__expand" ng-class="{ 'icon-navigation-right': !tab.open, 'icon-navigation-down': tab.open }">&nbsp;</ins>
            </div>

            <div class="umb-expansion-panel__content" ng-show="tab.open">
                <umb-property data-element="property-{{ tab.alias }}" ng-repeat="property in vm.settings | filter: { tab: tab.alias }" property="property">
                    <umb-property-editor model="property"></umb-property-editor>
                </umb-property>
            </div>
        </div>
        
        <button role="button" class="btn btn-success" ng-click="vm.saveSettings()">Save settings</button>
    </div>
    
    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>
</div>