@import '_variables';

.pf-disabled {
    cursor:not-allowed!important;
    opacity:0.5;
    pointer-events:none;
}

.pf-block {
    display:block!important;
}

.preflight {

    &-alert {
        background: $umbBlue;
        padding-right: 14px;

        h4.intro-text {
            color: #fff;
        }
    }

    .title,
    .intro-text {
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

    $states: '.disabled', '.fail', '.pending', '.pass';
    $colors: $grey, $red, $orange, $green;

    @for $i from 1 through 4 {
        $s: nth($states, $i);
        $c: nth($colors, $i);

        #{$s} {
            background: $c;

            &-color {
                color: $c;
            }
        }
    }

    .umb-expansion-panel {
        &.disabled {
            background: #fff;
            opacity: .5;
            pointer-events: none;
        }

        &__header {
            text-align: left;

            span span {
                font-weight: 400
            }

            .umb-icon {
                transform: translateY(2px);
            }
        }
    }
}
