@import '_variables';

[data-element="sub-view-preflight"] .badge {
  transition: background-color ease-in-out .5s;

  &.-type-success {
    background-color: $green;

    &::before {
      transform: translateY(-2px);
      content: '\e165';
    }
  }

  // overrides annoying validation styles
  // which were setting to warning rather than error
  &.--error-badge {
      background: $red !important;
  }
}

.preflight {
    .badge-list {
        margin: 0 -5px -5px;
        display: flex;
        flex-wrap: wrap;

        .umb-badge {
            margin: 0 5px 5px;

            &[role=button] {
                cursor: pointer;
            }
        }
    }

    .count-badge {
        color: #fff;
        background-color: $red;
        border: 2px solid #fff;
        border-radius: 50%;
        font-size: 10px;
        font-weight: 900 !important;
        padding: 2px;
        line-height: 16px;
        position: absolute;
        text-align: center;
        min-width: 16px;
        transform: translate(-110%, -60%);
    }
}
