@import '../../css/_variables';

.preflight {
    &-cards {
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 10px;
        margin: 0 -10px;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border-radius: 6px;
        border-width: 2px;
        border-style: solid;
        background: rgba($grey, 0.75) !important;
        margin: 0 10px;

        &.pass {
            border-color: $green;
        }

        &.fail {
            border-color: $red;
        }

        &-score {
            font-size: 36px;
            line-height: 1;
            margin-bottom: 10px;
        }
    }
}
