<div ng-controller="preflight.settings.controller as vm" class="umb-panel preflight preflight-settings">
    <form name="preflightSettingsForm"
          ng-submit="vm.saveSettings()"
          novalidate
          val-form-manager>
        <umb-editor-view footer="true">
            <umb-editor-header name="'Preflight'"
                               name-locked="true"
                               hide-icon="true"
                               hide-description="true"
                               hide-alias="true">
            </umb-editor-header>
            <umb-editor-container>
                <umb-box>
                    <umb-box-content>
                        <p>Preflight provides a pluggable framework for adding pre-publishing checks to your content.</p>
                        <p>Out of the box, Preflight provides plugins for general readability (reading level, sentence length, blacklisting words), link health and text autocorrect.</p>
                        <select id="groupLanguage"
                                ng-options="l.culture as l.name for l in vm.languages"
                                ng-disabled="vm.languages.length === 1"
                                ng-model="vm.currentLanguage">
                        </select>
                    </umb-box-content>
                </umb-box>

                <div class="form-horizontal">
                    <div class="umb-expansion-panel" ng-repeat="tab in vm.tabs" ng-if="vm.tabs.length">

                        <button type="button" 
                                aria-expanded="{{tab.open}}" 
                                class="btn-reset umb-expansion-panel__header" 
                                ng-click="tab.open = !tab.open">
                            <span>{{ ::tab.name }} <span ng-if="tab.summary">{{ ' - ' + tab.summary }}</span></span>
                            <umb-icon icon="{{tab.open ? 'icon-navigation-up' : 'icon-navigation-down'}}" 
                                      class="umb-expansion-panel__expand"></umb-icon>
                        </button>

                        <div class="umb-expansion-panel__content" ng-show="tab.open">
                            <div class="umb-control-group mb3" ng-if="tab.description" ng-bind-html="::tab.description"></div>

                            <umb-property data-element="property-{{ ::tab.alias }}" ng-repeat="property in vm.settings | filter: { tab: tab.name } | orderBy: 'order'" property="property">
                                <umb-property-editor model="property"></umb-property-editor>
                            </umb-property>
                        </div>
                    </div>
                </div>
            </umb-editor-container>
            <umb-editor-footer>
                <umb-editor-footer-content-right>
                    <umb-button type="submit"
                                button-style="success"
                                shortcut="ctrl+s"
                                label-key="preflight_saveSettings">
                    </umb-button>
                </umb-editor-footer-content-right>
            </umb-editor-footer>
        </umb-editor-view>

        <umb-overlay ng-if="vm.overlay.show"
                     model="vm.overlay"
                     view="vm.overlay.view"
                     position="right">
        </umb-overlay>
    </form>
</div>