$red: #fe6561;
$orange: #f9b945;
$green: #35c786;
$purple: #413659;
$grey: #f3f3f5;

$umbGreen: #00aea2;

.preflight {

    &-settings {
        .umb-control-group {
            position:relative;
        }
    }

    .alert {
        *:last-child {
            margin-bottom: 0;
        }
    }

    .failed {
        color: $red;
    }

    .readability-result {
        height: 10px;
        margin: 7px 0 10px 0;
    }

    .broken-link-type {
        color: $orange;

        &.unsafe {
            color: $red;
        }
    }

    .title {
        font-size: 30px;
        color: #363636;
        line-height: 1.3em;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        font-weight: bold;
    }

    .intro-text {
        font-size: 18px;
        color: #666666;
        text-align: center;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.6em;
    }

    .badge-list {
        margin:0 -5px -5px;
        display:flex;
        flex-wrap:wrap;
        
        .umb-badge {
            margin:0 5px 5px;
        }
    }

    .preflight-property {
        box-sizing: border-box;
        border-bottom: 1px solid #e9e9eb;

        &:last-child {
            border-bottom:0;
        }

        &--label {
            cursor: pointer;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight:bold;
            padding: 10px;
            display: flex;

            &:hover {
                background: $grey;
            }

            &.active {
            }
        }

        &--cards {
            display:flex;
            justify-content:center;
            text-align:center;
            padding:10px;
        }

        &--results {
            padding:10px;
            margin-bottom:15px;

            &.collapsed {
                display: none;
            }
        }

        .umb-badge--state {
            border-radius: 2px;
            font-size: 18px;
            line-height: 1.4;
            padding-top: 4px;

            &.fail {
                background: $red;
                color:#fff;
            }

            &.pass {
                background: $green;
                color:#fff;
            }
        }
    }

    .card {
        display:flex;
        flex-direction:column;
        padding:20px;

        &-score {
            font-size:36px;
            margin-bottom:10px;
        }
    }
}
