<div ng-controller="preflight.dialog.controller as vm" class="preflight">
  <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>
  <div class="umb-dialog-body with-footer">
    <umb-pane ng-show="!vm.loading">
      <div class="alert alert-warning" ng-if="dialogOptions.results.introText">
        <span ng-bind="dialogOptions.results.introText"></span>
      </div>
      <h5>Results</h5>
      <div ng-show="!vm.failedReadability && !vm.brokenLinks">
        <p>Content on this page passes preflight checks.</p>
      </div>
      <div ng-show="vm.failedReadability">
        <p>Content on this page fails the <a href="#" prevent-default ng-click="vm.readabilityHelp()" class="help-link">readability test <i class="icon icon-help-alt"></i></a>:</p>
        <ul>
          <li ng-repeat="prop in vm.failedReadability track by $index">
            {{ prop.name }}: {{ prop.readability.score }} (target: {{ vm.readabilityTargetMin }}-{{ vm.readabilityTargetMax }})
            <div class="readability-result" ng-style="{ 'background' : vm.resultGradient() }">
              <div class="readability-bar" ng-style="{ 'left' : prop.readability.score + '%' }" data-val="{{ prop.readability.score }}"></div>
            </div>
          </li>
        </ul>
      </div>
      <div ng-show="vm.brokenLinks">
        <p>Content on this page contains broken or invalid links:</p>
        <ul>
          <li ng-repeat="prop in vm.brokenLinks track by $index">
            {{ prop.name }}:
            <ul>
              <li ng-repeat="link in prop.links">Link text: {{ link.text }} [<span class="broken-link-type" ng-class="{ 'unsafe' : link.unsafe }" ng-bind="link.status"></span>]</li>
            </ul>
          </li>
        </ul>
      </div>
      <div ng-show="vm.blacklist">
        <p>Content on this page contains blacklisted words:</p>
        <ul>
          <li ng-repeat="prop in vm.blacklist track by $index">
            {{ prop.name }}:
            <ul>
              <li ng-repeat="v in prop.readability.blacklist" ng-bind="v"></li>
            </ul>
          </li>
        </ul>
      </div>
      <h5>Detail</h5>
      <div ng-repeat="prop in vm.properties track by $index">
        <a ng-click="prop.collapsed = !prop.collapsed" class="prop-label">
          <ins ng-class="{'icon-navigation-right': prop.collapsed, 'icon-navigation-down': !node.collapsed}" class="icon-navigation-down">&nbsp;</ins>
          {{ prop.name }}
        </a>
        <div class="prop-results" ng-class="{'collapsed' : prop.collapsed}">

          <h6>Readability</h6>
          <ul>
            <li>
              Flesch reading ease score: {{ prop.readability.score }}
              <div class="readability-result" ng-style="{ 'background' : vm.resultGradient() }">
                <div class="readability-bar" ng-style="{ 'left' : prop.readability.score + '%' }" data-val="{{ prop.readability.score }}"></div>
              </div>
            </li>
            <li>Average syllables per word: {{ prop.readability.averageSyllables }}</li>
            <li>Average sentence length: {{ prop.readability.sentenceLength }}</li>
            <li ng-if="prop.readability.longWords">
              Long words ({{ vm.longWordSyllables }} or more syllables):
              <ul>
                <li ng-repeat="word in prop.readability.longWords track by $index | limitTo: 5" ng-bind="word"></li>
                <li ng-if="prop.readability.longWords.length > 5">plus {{ prop.readability.longWords.length - 5 }} more...</li>
              </ul>
            </li>
          </ul>
          <div ng-show="prop.links">
            <h6>Broken links</h6>
            <ul>
              <li ng-repeat="link in prop.links track by $index">Link text: {{ link.text }}<br />Target: {{ link.href }}<br />Status: {{ link.status }}</li>
            </ul>
          </div>
        </div>
      </div>
    </umb-pane>
  </div>
  <div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
    <a href="#" class="btn btn-primary" ng-click="vm.close()" prevent-default><localize key="general_ok">OK</localize></a>
  </div>

  <umb-overlay ng-if="vm.overlay.show"
               model="vm.overlay"
               view="vm.overlay.view"
               position="right">
  </umb-overlay>

</div>