<div ng-controller="preflight.controller as vm" class="preflight" id="preflight-app" ng-cloak>

    <!--<umb-load-indicator ng-if="!vm.loaded"></umb-load-indicator>-->

    <div ng-if="vm.loaded">

        <!--<div class="alert alert-warning" ng-if="dialogOptions.results.introText">
            <span ng-bind="dialogOptions.results.introText"></span>
        </div>-->

        <!--<div ng-if="!vm.results.checkLinks && !vm.results.checkReadability && !vm.results.checkSafeBrowsing">
            <h3 class="title">All Preflight checks are currently disabled</h3>
            <h4 class="intro-text">Enable checks on the Preflight dashboard in the settings section.</h4>
        </div>-->

        <div>
            <div ng-show="!vm.results.failed" class="alert alert-success">
                <h3 class="title">Content on this page passes all preflight checks. Good job!</h3>
            </div>

            <div ng-show="vm.results.failed">
                <h3 class="title">That's not great...</h3>
                <h4 class="intro-text">Content on this page fails {{ vm.results.failedCount }} preflight checks.</h4>
            </div>

            <div class="umb-expansion-panel" ng-repeat="prop in vm.results.properties track by $index">
                <div class="umb-expansion-panel__header" ng-click="prop.open = !prop.open">
                    <div>
                        <span class="count-badge" ng-bind="prop.failedCount"></span>
                        {{ prop.name }}
                    </div>
                    <ins class="umb-expansion-panel__expand" ng-class="{ 'icon-navigation-right': !prop.open, 'icon-navigation-down': prop.open }">&nbsp;</ins>
                </div>

                <div class="umb-expansion-panel__content" ng-show="prop.open">
                    <div class="flex mt-30" ng-repeat="plugin in prop.plugins">
                        <div ng-include="plugin.viewPath" ng-repeat="model in [plugin]" class="preflight-plugin-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <umb-overlay ng-if="vm.overlay.show"
                 model="vm.overlay"
                 view="vm.overlay.view"
                 position="right">
    </umb-overlay>

</div>